.home-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100%;
  width: 100%;
  margin-top: 0;
  display: left;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  box-shadow: inset 0 0 0 1000px  rgb(28, 27, 27);
  object-fit: contain;
}

.home-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: 0;
  z-index: 100;
  text-align: center;
}

.home-container > p {
  margin-top: 0px;
  margin-right: 1px;
  color: #fff;
  font-size: 22px;
  text-align: left;
  align-content: center;
  font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}

.home-btns {
  margin-top: 32px;
}

.home-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .home-container > h1 {
    font-size: 70px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .home-container > h1 {
    font-size: 50px;
    margin-top: 0px;
  }

  .home-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}